.hover_blue {
    &:hover {
        background-color: $cyan;
        cursor: pointer;
    }
}

.bg_primary{
    background-color: $darkazure;
}

.navbar-nav .dropdown-menu {
   position: absolute!important;
}

.bg_orange{
    background-color: #413e4a;
}