// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Color Palette
$grey: #f1f1f3;
$darkazure: #31858f;
$lightazure: #bad5db;
$lightorange: #dd9134;
$darkorange: #a56534;

//Form colors
$transparent: rgb(241 241 241 / 88%);
$black: rgb(0, 0, 0);
$button: rgb(206 92 11);
$background: rgb(223, 101, 14);
$buttonhover: rgb(234 103 10);
$white: rgb(255, 255, 255);
$input: rgb(248 250 252);
$border: rgb(206 212 218);

//Footer
$menu: #666666;

//Dashboard
$sfondo: #f1eff1;
$navbar: #413e4a;
$sidebar: #e47f38;
$darkyellow: #ffbc00;
$static: #05aa7c;
$pencil: #007be4;
$show: #ff8508;
$sposor: #e8eff6;
$pay: #f0410c;
$icona: rgb(255, 215, 142);
